argh==0.26.2
Bootstrap-Flask==1.0.9
Click==7.0
Faker==0.8.17
Flask==1.0.2
Flask-Login==0.4.1
Flask-Moment==0.6.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pathtools==0.1.2
python-dateutil==2.7.3
python-dotenv==0.10.0
PyYAML==3.13
six==1.11.0
SQLAlchemy==1.2.14
text-unidecode==1.2
watchdog==0.8.3
Werkzeug==0.14.1
WTForms==2.2.1

