{% extends 'base.html' %}
{% block title %}支付宝测试{% endblock %}
{% block content %}
    <div class="container">
        <img src="static/logo_alipay.jpg" class="rounded mx-auto d-block" alt="Cinque Terre" width="260" height="76">
    </div>
    <div class="container">
        <img src="static/test.png" class="rounded mx-auto d-block" alt="Cinque Terre" width="200" height="200">
    </div>
    <div class="time-item" style = "padding-top: 10px">
        <div class="time-item" id="msg"><h3>请扫码支付，可用时间：</h3></div>
            <strong id="hour_show">0时</strong>
            <strong id="minute_show">0分</strong>
            <strong id="second_show">0秒</strong>
    </div>
    <script>
    var myTimer;
    var outTime="360";
    var intDiff="360";
    var goTimerBegin =  new Date().getTime();

    function goTimer() {
        myTimer = window.setInterval(function () {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#hour_show').html('<s id="h"></s>' + hour + '时');
            $('#minute_show').html('<s></s>' + minute + '分');
            $('#second_show').html('<s></s>' + second + '秒');
            if (hour <= 0 && minute <= 0 && second <= 0) {
                qrcode_timeout();
                clearInterval(myTimer);
            }
            intDiff = intDiff-2;

            checkdata();

        }, 2000);
    }

    function qrcode_timeout(){
         $('#msg').html("<h1>支付超时</h1>");
    }
     function checkdata()
     {
        $.get("/pay/test",
        function(data)
        {
            if (data.error > 0)
            {
                window.clearInterval(myTimer);
                $('#msg').html("<h1>支付成功</h1>");
            }
        }
        );
    }
    window.onload=function(){     //自动调用上面那个方法
             goTimer();
         }
    </script>
{% endblock %}

{% block footer %}{% endblock %}

